---
layout: main
---

<div class="hero">
    <div class="hero__content">
        <h1 class="hero__title">The Latin Bros</h1>
        <p class="hero__tagline">Authentic Latin Street Food in London</p>
        <p class="hero__description">
            Fresh, vibrant Latin flavors. Famous for our toasted Cubanos, tacos
            & burritos.<br>Handmade with a kick of spice. Vegan & veggie options.
        </p>
    </div>
</div>

<div class="location-cards">
    <div class="card">
        <div class="card__image">
            <img
                src="images/thelatinbros__stall_maltby_01.opti.webp"
                alt="Greenwich Market"
            />
        </div>
        <div class="card__title">
            <h2>Maltby Street Market<br /><span>- Bermondsey -</span></h2>
        </div>
        <div class="card__content">
            <div class="location__hours">
                <strong>Saturdays:</strong> 11am – 5pm<br />
                <strong>Sundays:</strong> 11am – 4pm
            </div>
            <p class="location__directions">
                Find our pitch down the historic Ropewalk alleyway<br />(Arch
                46, Maltby St, SE1 3PA).<br />Short walk from London Bridge or
                Bermondsey Tube.
            </p>
            <a href="#" class="location__map-button">
				<img class="icon" alt="Map icon" src="css/icons/thelatinbros_map_icon.svg" />
                Open in Maps
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card__image">
            <img
                src="images/thelatinbros__stall_greenwich_01.opti.webp"
                alt="Greenwich Market"
            />
        </div>
        <div class="card__title">
            <h2>Greenwich Market<br /><span>- Greenwich -</span></h2>
        </div>
        <div class="card__content">
            <div class="location__hours">
                <strong>Saturdays & Sundays:</strong><br />11am – 5:30pm
            </div>
            <p class="location__directions">
                Trading right in the historic covered market section.<br />
                2-minute walk from Cutty Sark DLR.<br />
				10-minute walk from Greenwich mainline station.
            </p>
            <a href="#" class="location__map-button">
				<img class="icon" alt="Map icon" src="css/icons/thelatinbros_map_icon.svg" />
                Open in Maps
            </a>
        </div>
    </div>
</div>
<div class="location-disclaimer">
    <p class="location-disclaimer__text">
        Hours can vary due to weather. Check our Instagram
        stories every Friday morning.
    </p>
</div>

<div class="get-menu">
    <h3 class="get-menu__title">Discover our menus</h3>
	<div class="get-menu__buttons">
    <a href="#" id="get-sandwiches-menu">
		<img class="icon icon--md icon--inverted" alt="Map icon" src="css/icons/thelatinbros_sandwiches_icon.svg" />
		<span>Cuban Sandwiches</span>
	</a>
	<a href="#" id="get-tacos-menu">
		<span>Burritos and Tacos</span>
		<img class="icon icon--md icon--inverted" alt="Map icon" src="css/icons/thelatinbros_tacos_icon.svg" />
	</a>
	</div>
</div>

<div class="content">
	{{content}}
</div>
